<div class="view-header">
  <h1>Genres</h1>
  <a href="#/genres" class="btn btn-sm btn-outline-primary">Add Genre</a>
</div>
<div class="card card-shadow">
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center">Classic <span class="badge bg-secondary">24</span></li>
      <li class="list-group-item d-flex justify-content-between align-items-center">Science Fiction <span class="badge bg-secondary">18</span></li>
      <li class="list-group-item d-flex justify-content-between align-items-center">Mystery <span class="badge bg-secondary">12</span></li>
    </ul>
  </div>
</div>
